@CHARSET "ISO-8859-1";
.body-content{
	background-color: white;
	min-height: 400px;
	padding: 50px 80px;
}
.contact-us-head-div{
	    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}
.contact-us-head-text{
	color: #9b9b9b;
    font-size: 18px;
    font-family: lato;
}
.send-contact-request{
	width: 81px;
    font-size: 14px;
    padding: 0px;
    height: 32px;
        background-color: #fd6d64;
    color: white;
}
.right-info-div{
	padding-top: 24px;
    padding-left: 60px;
}
.info-div-contact{
	padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e7e7;
}
.red-contact-title{
	color:#fd6d64;
	font-size:14px;
	 font-family: lato;
	 line-height: 27px;
}
.contact-detail-info{
	color:#4a4a4a;
	font-size:13px;
	
}

.faq-tabs .nav-tabs>li.active>a, .faq-tabs .active>a:focus,.faq-tabs .nav-tabs>li.active>a:hover {
    color: #37b7b3;
    cursor: default;
  	background-color: rgba(246, 248, 250, 0);
    border: 0px solid rgba(221, 221, 221, 0);
    border-bottom-color: #37B7B3;
    font-weight: 600;
    border-bottom: 4px solid #37b7b3;
}
.faq-tabs .nav-tabs {
    border-bottom: 1px solid rgba(39, 23, 23, 0);
}
.faq-tabs .nav>li {
    margin-left: 0px;
}
.faq-tabs .nav-tabs>li>a {
    color: #6c6c6c;
}
.faq-tabs .panel-default>.panel-heading {
    color: #333;
    background-color: #FFFFFF;
    border-color: #ddd;
    border-radius: 0px;
    padding: 13px 15px 15px 0px;
}
.faq-tabs .panel-group .panel {
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0px 1px 2px 3px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow:none;
    box-shadow: none;
    border-top: 1px solid lightgray;
}
.faq-tabs .panel-title>a {
	font-size: 15px;
    color: #37b7b3;
}
.faq-tabs .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
    padding-left: 0px;
    margin-top: -25px;
}



.body-error {
    background-color: #37b7b3;
    min-height: 400px;
   padding: 90px 80px;
    text-align: center;
}
.remove-padding{
	padding-top: 0px!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
}
.error-message-big{
	font-size:64px;
	color:white;
	font-family:latol;
}
.page-error{
	font-size:24px;
	color:white;
	font-family:latol;
}
.error-message-text{
	font-size:18px;
	color:white;
	font-family:latol;
}
.tnc-text{
	color:#555555;
	font-size:13px;
	line-height:20px;
	
}
.intro-text{
	    font-size: 16px;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
}
.thanku-text{
	color:#4a4a4a;
	font-size:24px;
	font-family:latol;
}
.thanku-message-text{
	color: #6c6c6c;
    font-size: 18px;
    font-family: latol;
    display: block;
    /* margin-top: 58px; */
    text-align: justify;
    max-width: 416px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}