@CHARSET "ISO-8859-1";
.body-content{
	background-color: white;
	min-height: 400px;
	padding: 50px 80px;
}
.contact-us-head-div{
	    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}
.contact-us-head-text{
	color: #9b9b9b;
    font-size: 18px;
    font-family: lato;
}
.send-contact-request{
	width: 81px;
    font-size: 14px;
    padding: 0px;
    height: 32px;
        background-color: #fd6d64;
    color: white;
}
.right-info-div{
	padding-top: 24px;
    padding-left: 60px;
}
.info-div-contact{
	padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e7e7;
}
.red-contact-title{
	color:#fd6d64;
	font-size:14px;
	 font-family: lato;
	 line-height: 27px;
}
.contact-detail-info{
	color:#4a4a4a;
	font-size:13px;
	
}