@CHARSET "ISO-8859-1";
.black{
	    background-color: black;
    background: url(../img/2.jpg) no-repeat 0 0;
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 0;
    /* background-blend-mode: initial; */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.78);
    /* background-position-y: -211px */
}
.top-div{
	display:none;
}
.banner-div{
position: relative;
    overflow-x: hidden;
    width: 100%;
}
.banner-div .navbar-default {
    background-color: rgba(252, 252, 252, 0);
    border: 0;
}
.banner-div .navbar-default .navbar-nav>li>a,.banner-div .navbar-default .navbar-nav>li>a:hover {
    color: #FFFFFF;
   background: url(../img/.png) no-repeat 0 0;
}
.banner-div .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FFFFFF;
    background: url(../img/.png) no-repeat 0 0;
}
.banner-search-div{
	    margin-top: 95px;
    text-align: center;
        margin-bottom: 75px;
}

.big-font-banner{
	    font-family: latol;
    font-size: 42px;
    color: #ffffff;
    font-weight: 100;
}
.small-font-banner{
	font-family: latol;
    font-size: 18px;
    color: #ffffff;
    font-weight: 100;
}
.banner-search-form{
	text-align:center;
	padding: 0px;
}
.banner-search-box{
	background: url("../img/search.png") no-repeat right;
  background-color: white;
    background-size: 22px;
    height: 40px;
    border-radius: 3px;
    padding-right: 40px;
   padding-right: 3px;
    background-origin: content-box;
    /* margin-top: 70px; */
}
#page-content-wrapper {
    width: 100%;
    padding-top: 10px;
    overflow-x: hidden;
}
.Bblue{
	min-height: 150px;
    width: 100%;
    background-color: rgba(55, 183, 179, 0);
}
.border-pink{
  border-bottom: 3px solid #f2624d; 
  padding-bottom: 5px;
  padding-left: 5px;
    padding-right: 5px;
}
.border-green{
  border-bottom: 3px solid #a5cd5b; 
  padding-bottom: 5px;
  padding-left: 5px;
    padding-right: 5px;
}
.border-blue{
  border-bottom: 3px solid #00b9ff; 
  padding-bottom: 5px;
}
.signupT-div{
	margin-top:40px;
	margin-bottom:100px;
}
.signupT-button {
    font-size: 15px;
    /* padding: 10px 30px 10px 30px; */
    width: 216px;
}
.banner-div .category-filter-div {
    padding-bottom: 17px;
    border-bottom: 0px solid lightgray;
    margin-bottom: 10px;
    /* padding-top: 40px; */
}
.banner-div .big-button {
       background-color: rgba(55, 183, 179, 0);
   border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: lato;
    padding-bottom: 13px;
    outline: none !important;
}
.banner-div .big-button span{
	display: block;
    margin-top: 10px;
    margin-bottom: -8px;
}

.banner-div .choose-div {
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 35px;
    font-family: latol;
}
.banner-div .big-button img {
    width: 100%;
    height: 69px;
    margin-bottom: 10px;
}
.index-body-div{
	background-color:#f6f8fa;
	margin-top: -10px;
	padding: 50px;
}
.index-body-div .nav-tabs {
    border-bottom: 0px solid #ddd;
        margin-top: 40px;
}
.index-body-div .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #F6F8FA;
    border: 0px solid rgba(221, 221, 221, 0);
    border-bottom-color: #37B7B3;
    font-weight: 600;
    border-bottom: 4px solid #37b7b3;
}
.index-body-div .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 15px;
    color: #9b9b9b;
}
.index-body-div .tab-content>.tab-pane {
    padding-top: 44px;
}

.index-body-div .nav>li {
    margin-left: 15px;
    margin-right: 20px;
}
.experts-tab-head{
	text-align: center;
    font-size: 18px;
    line-height: 26px;
    font-family: latol;
    color: #555555;
    margin-bottom: 31px;
}
.advisors-row{
	overflow-x:hidden;
	width:100%;
}
.tab-adv-div {
    /* text-align: center; */
    min-width: 396px;
    display: inline-block;
    /* margin-left: 60px; */
    text-align: left;
}
.scroll-expert-card{
	overflow-x:auto;
	overflow-y:hidden;
	width:100%;
	    white-space: nowrap;
}
.adv-img{
	width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 7px;
}
.adv-name{
	font-size: 20px;
    color: #4a4a4a;
    font-family: lato;
    margin-bottom: 5px;
}
.adv-field{
	font-size: 16px;
    color: #9b9b9b;
    font-family: lato;
    line-height: 18px;
    margin-bottom: 25px;
}
.adv-text{
font-size: 14px;
    color: #4a4a4a;
     line-height: 20px;
         white-space: normal;
}
.Bblue-bottom{
	min-height: 150px;
    width: 100%;
    background-color: #37b7b3;
    padding-bottom: 40px;
}
.why-us-div{
	
}
.T-button{
	background-color: #37B7B3;
    border: 2px solid #FFFFFF;
    color: #FFFFFF !important;
}
.our{
	    border-bottom: 3px solid black;
    padding-bottom: 8px;
}
.why-us-head-text{
	    margin-top: 60px;
    color: #ffffff;
    font-size: 15px;
    font-family: lato;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}
.big-img-div{
	text-align: center;
	max-width: 274px;
}
.why-us-im{
	margin-bottom: 15px;
 width: 100px;}
.why-us-medium-text{
color: #ffffff;
    font-size: 20px;
    font-family: latol;	
}
.why-us-text{
	color: #ffffff;
    font-size: 14px;
    font-family: lato;
    line-height: 20px;
    margin-top: 17px;
}
.scrollable-content::-webkit-scrollbar {
  background:transparent;
  width:0px;

}
.scrollable-content::-webkit-scrollbar-track {
  background:transparent;
}
.scrollable-content::-webkit-scrollbar-thumb {
  background:rgba(55, 183, 179, 0);
   border-radius: 10px;

}
.scroll-xs{
	text-align:center;
}  
.y-div{
	display: inline-block;
    margin-left: 10px;
    white-space: normal;
    margin-bottom: 30px;
}
.qa-conatiner{
	    
}
.questions-div-each{
	     border-bottom: 1px solid lightgray;
    text-align: left;
    padding: 40px 0px 4px 0px;
}
.question-in-qa{
	font-size: 15px;
    color: #37b7b3;
    line-height: 23px;
}
.no-of-answers{
	font-size: 14px;
    color: #6c6c6c;
    line-height: 23px;
    font-family: Open SansL;
}
.tab-button-div{
	    text-align: center;
    margin-top: 55px;
}
.tab-button{
	background-color: #F6F8FA;
    border: 2px solid #37B7B3;
    color: #37B7B3 !important;
}
.testimonial-div-container{
	background-color:white;
	    padding-bottom: 40px;
}
.testimonial-text-head{
    margin-top: 60px;
    color: #4a4a4a;
    font-size: 15px;
    font-family: lato;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}
.testimonial-text-head span{
    border-bottom: 3px solid #37B7B3;
    padding-bottom: 8px;
}
.dquotes {
    margin-top: -21px;
    min-height: 40px;
}
.bqstart {
    float: left;
    font-size: 120px;
    color: #37b7b3;
    font-family: initial;
}
.ad-speaks {
    margin-left: 76px;
    font-size: 18px;
    color: #777777;
    font-family: latol;
    line-height: 24px;
}
.user-images-div{
	    text-align: center;
}
.user-div{
display: inline-block;
margin-left: 60px;	
 margin-top: 28px;
}
.user-img{
	    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 7px;
}
.img-disable {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  opacity: .4;
  cursor: pointer;
      width: 70px;
    height: 70px;
    margin-top: -97px;
}
.user-name{
	font-size:12px;
	color:#4a4a4a;
	font-family: latol;
	display:none;
}
.user-desig{
	font-size:16px;
	color:#9b9b9b;
	font-family: latol;
	display:none;
}
.sign-up-div{
	    padding-top: 60px;
	        padding-bottom: 154px;
}
.signup-text-head{
	    text-align: center;
    color: white;
    font-size: 15px;
    font-family: latob;
        margin-bottom: 90px;
}
.signup-text-head span{
	border-bottom: 3px solid #37B7B3;
	padding-bottom: 10px;
}
.button-div{
	text-align:center;
}
.signup-button{
	font-size: 15px;
    padding: 10px 30px 10px 30px;
}
.t-text{
	display:none;
}

.footer-div-bottom {
    background-color: white!important;}

.bordert{
	display:none;
}
.sign-up-div .text-div{
	text-align:center;
	margin-bottom: 40px;
}
.sign-up-div .text{
	color:#cbcbcb;
	font-size:16px;
	font-family:lato;
	
}
.hm-top-svg svg{
	width: 140px;
    height: 70px;
}
.svg-b-text{
	color:white;
	font-size:16px;
}
.attributes {
    text-align: left;
}
.attributes span{
display: block;
    margin-bottom: 3px;
}
.attributes img {
    margin-right: 3px;
}

.banner-left-div{
	text-align:left;
	    padding-left: 75px;
}
.carousel-indicators {
    bottom: -35px!important;
}
.carousel-indicators li{
    margin-right:16px!important;
}
.banner-c{
width: 83%;
    border: 1px solid lightgray;
    padding: 5px;
}
.offer-text-big{
	color:yellow;
	font-size:14px;
}
.offer-text-small{
	color: lightgray;
    font-size: 10px;
    display: block;
    margin-top: -2px;
}
@media (max-width: 962px) and (min-width: 767px)
{
.big-font-banner {
    font-size: 20px;
}
.small-font-banner {
    font-size: 14px;
}
}
@media (max-width: 767px) and (min-width: 462px)
{
	
	.Bblue {
    min-height: 102px;}
.banner-div .big-button img {
    width: 120px;
    height: 90px;
    margin-bottom: 10px;
    margin-top: 15px;}
.banner-div .big-button span {
    margin-top: 40px;
    font-size: 35px;}    
.banner-div .choose-div {
    font-size: 40px;}

.small-font-banner {
    font-size: 19px;}
}
@media (max-width: 767px) and (min-width: 320px)
{
.top-div {
    display: block!important;
}
.hm-top-svg svg {
    width: 76px;
    height: 44px;
}
.banner-left-div {
    text-align: center;
}
.signupT-div {
    margin-top: 0px;
    margin-bottom: 26px;
}
.banner-c {
    width: 100%;;
}
.svg-b-text {
    font-size: 13px;
}
.do-not-scroll{
	width: 100%;
    height: 65px;
    background-color: rgba(51, 49, 49, 0.73);}

.big-font-banner {
    padding: 20px;}
.banner-div .big-button {
    }    
    .big-button {
    width: 83px;
    text-align: center;
}
.banner-div .big-button img {
  width: 30px;
    height: 30px;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 17px;}
.banner-div .big-button span {
       font-size: 10px;
    float: none;
    margin-left: 0px;
}   
.banner-div .choose-div {
    font-size: 15px;
    margin-bottom: 10px;
    }
.small-font-banner {
    font-size: 16px;
        padding: 10px;}
.banner-div .category-filter-div {
    padding-bottom: 38px;
    margin-bottom: 0px;
    padding-top: 15px;}
.index-body-div {
    margin-top: 0px;
    padding: 0px;}
.index-body-div .nav-tabs {
    margin-top: 0px;}
    .adv-img {
    width: 90px;
    height: 90px;}
.index-body-div .tab-content>.tab-pane {
    padding-top: 18px;
    padding-left: 9px;
    padding-right: 9px;}
 .index-body-div .tab-content>#qnada {
    margin-bottom: 25px;
}
.experts-tab-head {
    font-size: 15px;} 
.tab-adv-div {
    margin-bottom: 15px;
    /* margin-left: 7px; */
    min-width: 282px;
    }
 .big-img-div {
   
    max-width: 213px;
}
.adv-name {
    margin-bottom: -2px;}
.adv-field {
    margin-bottom: 4px;}
.why-us-head-text {
    margin-top: 28px;
    margin-bottom: 23px;}
 
.scroll-xs{
	overflow-x:auto;
	overflow-y:hidden;
	width:100%;
	    white-space: nowrap;
}  
.adv-text {
    font-size: 9px;
}       
.why-us-medium-text {
    font-size: 14px;
}
.why-us-text {
    line-height: 15px;
    margin-top: 7px;
    font-size: 12px;
}
.why-us-im {
    margin-bottom: 7px;
   /*  width: 65px; */
}
.y-div {
    margin-bottom: 0px;
}
.big-font-banner {
   font-family: latob;
    line-height: 57px;
    font-size: 18px;
}
.tab-button-div {
        margin-top: 25px;
    margin-bottom: 25px;
}
.ad-speaks {
    margin-left: 30px;
    font-size: 13px;
    margin-top: -23px;
    min-height:192px;
}
.bqstart {
	font-size: 61px;
}
.user-div {
    margin-left: 0px;
    min-height: 75px;
    min-width: 60px;
}
.user-img {
    width: 48px;
    height: 48px;
}
.img-disable {
    width: 36px;
    height: 36px;
}
.Bblue-bottom {
    padding-bottom: 0px;
}
.user-name {
    font-size: 9px;
}
.user-desig {
    font-size: 10px;
}
.user-images-div {
    margin-top: 22px;
}
.testimonial-div-container {
   /*  padding: 0px; */
}
.img-disable {
    margin-top: -46px;
}
}