@CHARSET "ISO-8859-1";
#signupmodal .modal-content,#loginmoda .modal-content{
	border-radius:0px;
	border-top: 5px solid #37b7b3;
}
#signupmodal .modal-dialog,#loginmodal .modal-dialog {
 max-width:380px;
 }
#loginmodal  .modal-body {
    padding: 10px 20px 10px 20px;
}
#signupmodal .modal-head-div,#loginmoda .modal-head-div{
 	border-bottom: 2px solid #e7e7e7;
    padding-bottom: 10px;
 }
#signupmodal .modal-head-text,#loginmodal .modal-head-text{
 color:#4a4a4a;
 font-size:18px;
 font-family:latol;
 }
 .login-form-div{
     padding: 25px 20px 0px 20px;
 }
 .login-form{
 }
 .login-form .form-group{
 margin-bottom:30px;
 }
 
 .login-form-el{
 }
 .login-form-el input[type="radio"] ~ label {
    color: #6c6c6c;
    font-size: 16px;
    font-family: latol;
    font-weight: 100;
}
.login-form-el .form-control{
    border-radius: 0px;
    font-size: 13px;
    color: #9b9b9b;
}
#loginmodal .form-group {
    margin-bottom: 30px;
}
.policy-text{
	font-size:12px;
	color:#9b9b9b;
}
.gt-started{
background-color: #fd6d64;
    color: white;
    width: 100%;
    margin-top: -10px;
    height: 40px;
}
.option-signin{
	margin-top: -16px;
    text-align: center;
}
.option-text{
	color: #6c6c6c;
    font-size: 16px;
    font-family: latol;
}
.already-signup{
	
}
.forgot{
	    font-size: 12px;
    font-family: latol;
    margin-top: 5px;
    cursor:pointer;
}
.already-signup-text{
	font-size: 12px;
}
.move-to-signup{
	cursor:pointer;
}
.login-form-el input[type="radio"] {
      visibility: hidden;
}

.login-form-el input[type="radio"] ~ label {
  color: #4a4a4a;
  font-size: 13px;
  font-weight: 100;
}
.login-form-el input[type="radio"] + [class=error]
{
	color: #e92629;
    font-size: 12px;
    font-weight: 100;
    position: absolute;
    bottom: -19px;
    left: 33px;
}
.login-form-el input[type="radio"] ~ label span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.login-form-el input[type="radio"] ~ label span {
 background-color: #FFFFFF;
    border: 1px solid lightgray;
}

.login-form-el input[type="radio"]:checked ~ label span {
 background-color: #37b7b3;
}

.login-form-elinput[type="radio"] ~ label span,
.login-form-el input[type="radio"]:checked ~ label span {
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
.squaredThree .error {

    width: 100%;
    border: 0px;
    bottom: -15px;
    top: 38px;
    background-color: rgba(180, 197, 197, 0);
}
.error-in-modal{
	border: 1px solid rgb(253, 109, 100);
    padding: 5px 5px 1px 5px;
    color: black;
    margin-top: 12px;
        background-color: rgba(253, 109, 100, 0.08);
}
#resetform{
	display:none;
}