@font-face {
  font-family: "Open SansR";
  font-style: normal;
  font-weight: normal;
  src:url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open SansSB";src:url("../fonts/OpenSans-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Open SansB";src:url("../fonts/OpenSans-Bold.ttf") format("truetype");
}"WebContent/assets/css/pannel.css"
@font-face {
  font-family: "Open SansL";src:url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";src:url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "LatoL";src:url("../fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Latob";src:url("../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Latobl";src:url("../fonts/Lato-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Latosb";src:url("../fonts/Lato-Semibold.ttf") format("truetype");
}
body {
    font-family: "Open SansR";
}
.r-div input {margin-right: -13px;}
.unread{
	background-color: rgba(55, 183, 179, 0.07);
}
.notify-div-dropdown .badge{
	display: inline;
    float: none;
    min-width: 10px;
    padding: 1px 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
   margin-left: 2px;
}
.scrollable-content::-webkit-scrollbar {
  background:transparent;
  width:5px;

}
.make-search-small{
	font-size: 12px;
    /* margin-left: 48px; */
    float: right;
    background-color: #FCFCFC;
    margin-top: -31px;
    width: 15px;
    font-weight: 900;
    padding-left: 6px;
    height: 20px;
    padding-top: 2px;
    display: none;
    cursor: pointer;
    color: #00B9FF;
}
.make-search-small:hover{
	  color: #00B9FF;
}
.scrollable-content::-webkit-scrollbar-track {
  background:transparent;
}
.scrollable-content::-webkit-scrollbar-thumb {
  background:rgb(152, 151, 151);
   border-radius: 10px;

}
.black-screen{
	position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.88);
    overflow: hidden;
    pointer-events: none;
    top: 0px;
}
.black-screen img{
position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 64px;
}
.empty-state{
	text-align: center;
    padding-top: 16px;
    font-family: latol;
    background-color: rgb(195, 195, 195);
    min-height: 0px;
    padding-bottom: 16px;
    color: #FFFFFF;
    font-size: 14px;
}
.search-box-modal{
background: url("../img/search.png") no-repeat scroll 4px center;
    border-radius: 0px;
    background-color: white;
    background-size: 22px;
    padding-left: 32px;
}

.alpha{
	font-size:16px;
	color:#37b7ae;
	cursor: pointer;
}
.fa-times{
	cursor: pointer;
}
/*Modifiaction in bootstrap classes*/
.navbar {
    /* margin-bottom: 13px; */
     margin-bottom: 0px;
 }
.navbar-default {
        background-color: #fcfcfc;
    border:0;
}
.navbar-nav {
    float: right;
}
.nav>li {
    margin-left: 15px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background:url(../img/blue-menu-bar.png) no-repeat 0 0;
   
}
.inc-searchbox{
	width:100%;
}
.inc-searchulli{
	width:74%;
}
.homesugg{
	position: absolute;
    width: 100%;
}
.r-div input {margin-right: -13px;}
.sugg{
margin-top: 4px;
}
.suggestion{
	display:none;
	background-color: white;
    min-height: 25px;
    margin-top: 0px;
    padding: 4px;
    border: 1px solid lightgray;
    border-top: 0px;
        
            width: 100%;
    text-align: left;
    cursor:pointer;
}
.hsuggestion:hover,.suggestion:hover{
    background-color: #E4E4E4;
}
.hsuggestion{
	display:none;
	background-color: white;
    min-height: 25px;
    margin-top: 0px;
    padding: 4px;
    border: 1px solid lightgray;
    border-top: 0px;
        position: absolute;
            width: 100%;
    text-align: left;
    cursor:pointer;
}
.navbar-default .navbar-nav>li>a {
   
   color:#A7A7A7;
       font-family: "Lato";
}
.navbar-default .navbar-nav>li>a:hover {
   background:url(../img/blue-menu-bar.png) no-repeat 0 0;
}
.navbar-nav>li>a {
   /*  padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 14px; */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
}
/*.navbar-default .navbar-nav>li>a:hover {
  
}*/
.navbar-toggle {
   margin-top: 20px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0px;
}
.filters .btn-default {
       border: 1px solid lightgray !important;
    border-radius: 0px;
    width: 100%;
}
.filters .open .btn-default {
    /*color: white;*/
}

.filters .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
  /*  background-color: #37B7B3;
    color: white;*/
}
.filters .dropdown-menu {
    /*margin: 40px 0 0 0px;*/
}
.filters .dropdown-menu {
   /* background-color: rgba(255, 255, 255, 0.95);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0px 0px 4px 4px;
     -webkit-box-shadow: 0 0 0 rgba(0,0,0,.175); 
     box-shadow: 0 0 0 rgba(0,0,0,.175); */
}


/*New classes not a part of bootstrap*/
.top-div {    width: 100%;
    z-index: 1;
    	background-color: #fcfcfc;
      min-height: 64px;
}
.logo{width:115px;}
.fixed-blue-strip {
    background-color: #37B7B3;
    min-height: 40px;
}
.shadow {
   -moz-box-shadow:    inset 0 0 6px 0px #828282;
   -webkit-box-shadow: inset 0 0 6px 0px #828282;
   box-shadow: inset 0 0 6px 0px #828282;
}
.simplebox {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.filter-text{
	    font-size: 14px;
    float: left;
}
.filter-i{ float: right;}
.filter-i i {
	font-size: 19px;
  color:#f5a623;
}
.do-not-scroll{
	position: fixed;
    top: 0;
    z-index: 1;
        background-color: #fcfcfc;
          -moz-box-shadow:     0 0 6px 0px #828282;
   -webkit-box-shadow: 0 0 6px 0px #828282;
   box-shadow: 0 0 6px 0px #828282;
}
.main-body-div{
	min-height: 400px;
	width: 100%;
	background-color:#eeeeee;
	margin-top:64px;
  
}
.heading-filter{
	color:#4a4a4a;    
	font-size: 16px;
}
.show-more-filter{
font-size:12px;
color:#37b7b3;
margin-top:10px;	
}
.left-col{
	margin-top: 15px;
	max-width: 245px;
}
.reset-filter{
    color: #37B7B3;
    float: right;
    margin-top: 6px;
    font-size: 12px;
}
.search-input-box{
	    margin-top: 15px;
}
.filter-div{
  background-color: white;
    margin-top: 15px;
    min-height: 62px;
    padding-top: 14px;
}
.category-label{
  padding: 6px 12px;
    font-size: 14px;
}
.alpha-div-filter{
	    min-height: 126px;
    max-height: 126px;
    overflow-y: scroll;
    margin-bottom: 13px;
}
#filterModal{
	max-height: 273px;
    overflow-y: scroll;
}
.golden-button{
  background-color: #f5a623;
color:white;
}
.no-padding{
  padding: 0px;
}
.filter-button-div{
  margin-left: 10px;
}
.information-div{
    margin-top: 20px;
}
.big-text{
  font-size: 22px;
    color: #4a4a4a;
    margin-bottom: 4px;
}
.small-text{
  font-size: 14px;
    color: #4a4a4a;
  }

.category-filter-div{
  padding-bottom: 20px;
    border-bottom: 0px solid lightgray;
    margin-bottom: 10px; 
}
.border-top{
	border-top: 1px solid lightgray;}
.filter-type{
       margin-top: 20px;
    font-size: 12px;
    color: #4a4a4a;
    border-bottom: 1px solid lightgray;
    padding-bottom: 1px;
}
input[type=checkbox] {
  visibility: hidden;
}
/* SQUARED THREE */
.squaredThree {
 /* width: 20px;*/  
     margin-bottom: 0px;
     margin-top: 3px;
  position: relative;
  font-size: 12px;
}

.squaredThree label:last-of-type {
      cursor: pointer;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 7px;
        left: 0;
    background-color: white;
    border: 1px solid lightgray;
  
}

.squaredThree label:last-of-type:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredThree label:last-of-type:hover{
  background-color: #37b7b3;
  opacity: .3;
}

.squaredThree input[type=checkbox]:checked ~ label{
  background-color: #37b7b3;
  opacity: 1;
}

.expert-card{
  background-color: #fcfcfc;
  min-height: 196px;

}
.blueT{
   background:url(../img/cardb.png) no-repeat 0 0;
   min-height: 196px;
       background-position-y: -23px;
       background-size: cover;
}
.Adp img{
      max-width: 110px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
  
    margin-top: 20px;
    border: 2px solid white;
}
.Apinfo{
    padding-top: 25px;
}
.Aname{
      font-size: 20px;
    color: #4a4a4a;
    font-weight: 600;
}
.Afeild{
     font-weight: 600;
    font-size: 16px;
    color: #9b9b9b;

}
.star-rating .clear-rating{
  display:none!important;
}
.rating-container .rating-stars:before {
    content: attr(data-content);
    text-shadow: 0 0 0px rgb(252, 252, 252);
}
.rating-container .rating-stars {
  color: #f5a623; 
}
.search-form {
    /* padding-top: 20px; */
    /* padding-bottom: 10px; */
    margin-top: 15px;
}
.search-box{
    background: url("../img/search.png") no-repeat scroll 4px center;
    border-radius: 0px;
    background-color: white;
    background-size: 22px;
    padding-left: 32px;
  }
.search-box-i{
  background: url("../img/search.png") no-repeat scroll 4px center;
    border-radius: 0px;
    background-color: white;
    background-size: 22px;
    padding-left: 32px;
  }
.choose-div{
  text-align: center;
  font-size: 24px;
  color: #4a4a4a;
  margin-bottom: 23px;
    margin-top: 10px;
}
.big-button-div{
  text-align: center;
  font-family: "Lato";
}

.big-button{
       background-color: white;
    border: 0px;
    width: 236px;
    border-bottom: 8px solid #00b9ff;
    font-size: 18px;
    color: #4a4a4a;
    font-family: latob;
    padding-top: 13px;
    padding-bottom: 5px;
}
.big-button img {
    width: 40%;
    }
.big-button svg{
	width: 201px;
    height: 86px;
}    
.bpink{
  border-bottom: 8px solid #f2624d; 
}
.bgreen{
  border-bottom: 8px solid #a5cd5b; 
}
.bblue{
  border-bottom: 8px solid #00b9ff; 
}
.whitepath path,.whitepath rect{
	fill:white!important;
}
.bpink path,.bpink rect{
  fill: #f2624d; 
}
.bgreen path,.bgreen rect{
    fill: #a5cd5b; 
}
.bblue path,.bblue rect{
    fill: #00b9ff; 
}
.stop-filter-scroll{
  position: fixed !important;
    left: 51;
        top: 77px;
max-height: 700px;
    overflow-y: scroll;
}
.category-filter-row{
  display: none;
  background-color: #fcfcfc;
      margin-top: -22px;
          padding-top: 20px;
    padding-bottom: 20PX;
}
.expand{
  height: 100%;
}
.category-all-filters{

}
.category-all-filters a{
  color: #4a4a4a;
  font-size: 14px;
}
.Cfilter{
  margin-bottom: 10px;
}
.expert-card-div{
      margin-bottom: 15px;
    padding: 0px 15px 0px 0px;
}
.sort{    padding-top: 18px;}
.sort .btn-default {
       border: 1px solid lightgray !important;
    border-radius: 0px;
    
    float: right;
    
}

.sort .open .btn-default {
    color: white;
}

.sort .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-color: #37B7B3;
    color: white;
}
.sort .dropdown-menu {
    margin: 40px 0 0 0px;
}
.sort .dropdown-menu {
  right: 20px;
  left: initial!important;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0px 0px 4px 4px;
     -webkit-box-shadow: 0 0 0 rgba(0,0,0,.175); 
     box-shadow: 0 0 0 rgba(0,0,0,.175); 
}
.filters-active{
  background-color: white;
  min-height: 40px;
  padding: 10px;
margin: 10px 0px 10px 0px;
}
.filters{ 
	max-height: 700px;
    overflow-y: scroll;
    max-width: 270px;
    position:absolute;
    }
    #experts-card-div{
    min-height: 700px;
    }
.filterlist{

}
.activef{
    padding: 0px 6px 0px 6px;
    background-color: #2DABC2;
    color: white;
    margin-right: 0px;
    margin-bottom: 10px;
    font-size: 13px;
}
.close-active{
	padding: 0px 6px 0px 6px;
	background-color: #2DABC2;
	margin-right: 2px;
	color: white;
	margin-bottom: 10px;
    font-size: 13px;
}
.filter-button{
    border: 1px solid lightgray !important;
    border-radius: 0px;
    width: 40%;
    float: left;
    margin-right: 20px;
    background-color: white;
}

.attributes{
  margin-top: 10%;
    color: #4a4a4a;
    font-size:13px;
}

.attributes img{
    width: 17px;
    margin-top: 0px;}
.attributes i {
      color: #B1B1B1;
}
.b-strip{
         min-height: 60px;
    box-shadow: 0px -1px 7px 0px #D2D2D2;
    background-color: white;
    padding: 13px;
}
.red-button{
  background-color: #f2624d;
  color: white;
}
.red-button span{
font-weight: 700;
 font-family: "Open SansB";
}

.count{
  text-align:center;font-size:11px;
}

.card-container{
  padding-left:0px;padding-right: 15px;
}
.Afilter-container{
  padding-left:0px;padding-right: 30px;
}
.load-more{
background-color: #6c6c6c;
color: white;
}
.collapsed-filter{
  background-color: white;
  min-height: 56px;
    padding-top: 10px;
    display: none;
}
.collapsed-filter-button{
  width: 100%;
  border-radius: 0px!important;
  text-align:left;
      min-height: 34px;
    border-color: #adadad;
        color: #333;
  
}
.collapsed-filter-button i{
	    float: right;
    margin-top: 3px;
    color: #37b7ae;
    font-size: 14px;
}
.green-button{
	background-color:#37b7ae;
	color:white;
}
.Choosec-div{
	padding-top: 7px;
}
.Choosec{
	font-size:18px;
}
.footer-div-bottom {
    background-color: #EEEEEE!important;}

.error{
color: #e92629;
    font-size: 12px;
    font-weight: 100;}
.hquotes{
	
}






/*Media query*/
@media (min-width: 320px) and (max-width: 767px) {
.navbar-nav {
    float: left;
    width: 100%}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0px;
    padding: 0px;} 
.navbar-nav {
    margin: 20px 0px 0px 0px;
    border-top: 1px solid #B3B3B3;} 
.nav>li {
    margin-left: 0px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: #37B7B3;
    border-top:0px;}   
.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;}
.filter-text ,.filter-text i{
    font-size: 12px;}
.div-container-navbar{
   padding: 0px;}   
.no-padding-xs{
   padding: 0px;}
.main-body-div {
    margin-top: 65px;}
.category-img{
   width:80px;}
.big-button {
    width: 100%;}
.big-button img {
    width: 75px;
    margin-left: 50px;
    float: left;}
.choose-div {
    font-size: 20px;}
 .big-button span  {
    margin-top: 20px;
    float: left;
    margin-left: 10px;
    font-family: lato;
    }
.text-center-xs{
  text-align: center;}
.information-div {
    margin-top: 0px;}
#filtermodalixs .modal-content {
    position: absolute!important;
    width:100%!important;
    min-height: 100%!important;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px!important;
    background-color: #eeeeee!important;}
#filtermodalixs   .modal-header {
    background-color: white;}
#filtermodalixs    .modal-dialog {
    position: absolute;
    width: 100%;
    margin: 0px;
    height: 100%;}
.filters-type-xs{
      list-style: none;
      padding-left: 0px;
}

.filters-type-xs li {
  padding: 9px 0px 9px 0px;
    border-bottom: 1px solid #9b9b9b;
    cursor: pointer;
}
.filters-type-xs li i{
  float: right;
  font-size: 20px;
    color: #9b9b9b;
}
#filtermodalixs .close {
    float: left!important;
    font-size: 18px!important;
    color: #37b7ae!important;
    opacity: 1!important;
    margin-top: 1px !important;
    margin-right: 10px;
}
.filters-in-modal{
  display:none;
}


.count{
  font-size:8px;}
.rating-uni {
    font-size: .8em!important;}
.Aname {
    font-size: 14px;}
.Afeild {
    font-size: 11px;}
.attributes {
    font-size: 9px;}
.expert-card {
    min-height: 169px;}   
.blueT {
      min-height: 148px;} 
.b-strip {
        padding: 9px;
    min-height: 39px;}
.red-button {
      font-size: 11px;
    padding: 3px 2px 3px 2px;}
.ask-form input{
  height: 23px;
  font-size: 8.5px;
   border-radius: 0px;}
.expert-card-div {
    padding: 0px;}
.card-container{
  padding-left:0px;padding-right: 0px;}
.Afilter-container{
  padding-left:0px;padding-right:0px;}
  #backtofilters{
    display: none;
  }
  .inc-searchbox{
	width:70%;
}
}
 


@media (min-width: 767px) and (max-width: 991px) {
    .filter-text ,.filter-text i{
    font-size: 12px;} 
    .Choosec{
    font-size: 12px;}  
    .Choosec-div{
	padding-top: 0px;}   
}
@media (min-width: 767px) and (max-width: 806px) {
  .Choosec-div {
    padding-top: 5px;}
   .collapsed-filter-button {
    font-size: 10px;}  
 .Choosec {
    font-size: 10px;}
.collapsed-search-button{
	font-size:10px;}    
}
@media (min-width: 320px) and (max-width: 462px) {
 .Adp img {
    width: 78px;
    height: 78px;
    border-radius: 50%;
   
    margin-top: 23px}  
 .big-button svg {
    width: 75px;
    height: 52px;
    float: right;
    margin-right: 36px;
}
}
@media (min-width: 462px) and (max-width: 767px) {
  .Adp img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-top: 15px;}
    .blueT {
    min-height: 168px;
    background-position-y: -78px;
    background-size: cover;}
    .attributes {
    margin-top: 6%;}
    .attributes {
    font-size: 12px;}
    .count {
    font-size: 10px;}\
    .big-button svg {
    width: 75px;
    height: 52px;
    float: right;
    margin-right: 36px;}
}
   
@media (max-width: 983px) {
   .navbar-nav>li>a {
    padding-left: 0px;
    padding-right: 0px;}  
}

@media (min-width: 767px) and (max-width: 992px) {
   .Adp img {
       width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 17px}
    .midd-br{
      display: block;}
.big-button {
    font-size: 12px;}
.count{
  font-size:8px;}
.rating-uni {
    font-size: .8em!important;}
.Aname {
    font-size: 14px;}
.Afeild {
    font-size: 11px;}
.attributes {
    font-size: 9px;}
.expert-card {
    min-height: 169px;}   
.blueT {
      min-height: 148px;} 
.b-strip {
        padding: 9px;
    min-height: 39px;}
.red-button {
      font-size: 11px;
    padding: 3px 2px 3px 2px;}
.ask-form input{
  height: 23px;
  font-size: 8.5px;
   border-radius: 0px;}

.card-container{
  padding-left:0px;padding-right: 0px;}
.Afilter-container{
  padding-left:0px;padding-right:0px;}
}



