@CHARSET "ISO-8859-1";
.cc{
	padding-left: 49px;
    padding-right: 49px;
    margin-top: 15px;
}
.qa-left-section{
	padding-top:26px;
}
.big-title-body{
	color:#4a4a4a;
	font-size:24px;
	font-family:lato;
}
.answers-count{
	font-size:14px;
	color:#6c6c6c;
}
.ask-question-button{
float: right;
    margin-top: -15px;
}
.white-body-div{
	    padding: 32px;
    background-color: white;
    margin-top: 27px;
}
.each-question-div{
    margin-bottom: 12px;
}
.tag{
	font-size: 11px;
    color: #9b9b9b;
    background-color: rgba(55, 183, 179, 0.2);
    padding: 2px 8px 3px 10px;
    border-radius: 3px;
}
.question-div{
	margin-top: 6px;
	padding-right: 110px !important;
}
.question{
	color: #000000;
    font-size: 18px;
    line-height: 23px;	
    font-family: Open SansSB;
}
.count-answers{
	    font-size: 12px;
    color: #9b9b9b;
    margin-right: 12px;
}
.updated-on{
	    font-size: 12px;
    color: #9b9b9b;
}
.answer-div{
	margin-top: 10px;
}
.by-whom{
	font-size: 13px;
    color: #9b9b9b;
}
.nameA{
	color: #37b7b3;
}
.answer-to-question{
	    font-size: 13px;
    color: #4a4a4a;
}
.fullanswer{
	max-height: 100%;
}
.more{
	    font-size: 13px;
    color: #37b7b3;
    cursor:pointer;
}
.less{
	font-size: 13px;
    color: #37b7b3;
    cursor:pointer;
}



.category-filter-div
{
    border: none;
}






.rel_ques
{
    color: #37b7b3;
    font-size: 13px;
    font-family: 'Open SansR';
    margin-top: 5px;
    text-decoration: none;
}

.related
{
padding-right: 30px;
}
.rel-section
{

}

.rel-section h2
{
    font-size: 15px; 
    font-family: 'Lato';
    color:#6c6c6c;
    border-bottom: 1px solid #cccccc; 
    padding-bottom: 10px; 
    margin-top:42px;
}
.qa-left-section{
	padding-left:49px;
}
.rel-category
{
    padding:2px 10px 2px 10px;
    background-color: #ffffff;
    color: #37b7b3;
    border-radius: 3px;
    border: 1px solid #9b9b9b;
    float: left;
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 10px;
    text-decoration: none;
}
#askquestion .modal-body {
    background-color: #e7e7e7;
}
.ask-question-modal-head{
	color: #4a4a4a;
    font-size: 18px;
}
.ask-question{
color: #9b9b9b;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 0px;
    min-height: 74px;
}






@media (min-width: 320px) and (max-width: 462px) {
 .big-title-body {
    font-size: 20px;} 
}
@media (max-width: 992px) {
	.question-div {
     padding-right: 0px !important;}
     .answer-div {
    width: 100%;}
    .qa-left-section{
	padding-left:15px;}
	.rel-category
		{
    font-size: 8px;
	}
}
