<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ACircuit</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
			ac.listeners.LogConfigListeners
		</listener-class>
  </listener>
  <listener>
    <listener-class>
			ac.listeners.CacheBuilderListeners
		</listener-class>
  </listener>
  <servlet>
    <servlet-name>GetSuggestions</servlet-name>
    <servlet-class>ac.controller.GetSuggestionsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSuggestions</servlet-name>
    <url-pattern>/GetSuggestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>ac.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAdvisorController</servlet-name>
    <servlet-class>ac.controller.GetAdvisorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdvisorController</servlet-name>
    <url-pattern>/advisors</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FilterController</servlet-name>
    <servlet-class>ac.controller.FilterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterController</servlet-name>
    <url-pattern>/Filters</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>questions</servlet-name>
    <servlet-class>ac.controller.QuestionsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>questions</servlet-name>
    <url-pattern>/questions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>answers</servlet-name>
    <servlet-class>ac.controller.AnswersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>answers</servlet-name>
    <url-pattern>/answers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSubcategoryAdvisors</servlet-name>
    <servlet-class>ac.controller.GetSubcategoryAdvisorsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubcategoryAdvisors</servlet-name>
    <url-pattern>/GetSubcategoryAdvisors</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSubcategoryQuestions</servlet-name>
    <servlet-class>ac.controller.GetSubcategoryQuestionsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubcategoryQuestions</servlet-name>
    <url-pattern>/GetSubcategoryQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>advisorprofile</servlet-name>
    <servlet-class>ac.controller.AdvisorProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advisorprofile</servlet-name>
    <url-pattern>/advisorprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userdashboard</servlet-name>
    <servlet-class>ac.controller.UserDashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userdashboard</servlet-name>
    <url-pattern>/userdashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>advisordashboard</servlet-name>
    <servlet-class>ac.controller.AdvisorDashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advisordashboard</servlet-name>
    <url-pattern>/advisordashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bookasession</servlet-name>
    <servlet-class>ac.controller.BookASessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookasession</servlet-name>
    <url-pattern>/bookasession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>approvesession</servlet-name>
    <servlet-class>ac.controller.AdvisorMyAccountApproveSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approvesession</servlet-name>
    <url-pattern>/approvesession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadFile</servlet-name>
    <servlet-class>ac.util.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFile</servlet-name>
    <url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>useraftersession</servlet-name>
    <servlet-class>ac.controller.UserMyAccountAfterSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>useraftersession</servlet-name>
    <url-pattern>/useraftersession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usercurrentsession</servlet-name>
    <servlet-class>ac.controller.UserMyAccountCurrentSessionsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usercurrentsession</servlet-name>
    <url-pattern>/usercurrentsession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>advisorcurrentsession</servlet-name>
    <servlet-class>ac.controller.AdvisorMyAccountCurrentSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advisorcurrentsession</servlet-name>
    <url-pattern>/advisorcurrentsession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usercancelledsession</servlet-name>
    <servlet-class>ac.controller.UserMyAccountCancelledSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usercancelledsession</servlet-name>
    <url-pattern>/usercancelledsession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>advisorcancelledsession</servlet-name>
    <servlet-class>ac.controller.AdvisorMyAccountCancelledSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advisorcancelledsession</servlet-name>
    <url-pattern>/advisorcancelledsession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userpastsession</servlet-name>
    <servlet-class>ac.controller.UserMyAccountPastSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userpastsession</servlet-name>
    <url-pattern>/userpastsession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>advisorpastsession</servlet-name>
    <servlet-class>ac.controller.AdvisorMyAccountPastSessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advisorpastsession</servlet-name>
    <url-pattern>/advisorpastsession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usersessions</servlet-name>
    <servlet-class>ac.controller.UserMyAccountSessionsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersessions</servlet-name>
    <url-pattern>/usersessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>useracceptsession</servlet-name>
    <servlet-class>ac.controller.UserMyAccountSessionAcceptedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>useracceptsession</servlet-name>
    <url-pattern>/useracceptsession</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userrequestviewdetails</servlet-name>
    <servlet-class>ac.controller.UserMyAccountRequestViewDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userrequestviewdetails</servlet-name>
    <url-pattern>/userrequestviewdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>advisorsessions</servlet-name>
    <servlet-class>ac.controller.AdvisorMyAccountSessionsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advisorsessions</servlet-name>
    <url-pattern>/advisorsessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userpayment</servlet-name>
    <servlet-class>ac.controller.UserMyAccountPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userpayment</servlet-name>
    <url-pattern>/userpayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userquestions</servlet-name>
    <servlet-class>ac.controller.UserMyAccountQuestionsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userquestions</servlet-name>
    <url-pattern>/userquestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userpaymenthistory</servlet-name>
    <servlet-class>ac.controller.UserMyAccountPaymentHistroryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userpaymenthistory</servlet-name>
    <url-pattern>/userpaymenthistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userrecharge</servlet-name>
    <servlet-class>ac.controller.UserRechargeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userrecharge</servlet-name>
    <url-pattern>/userrecharge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>advisorpaymenthistory</servlet-name>
    <servlet-class>ac.controller.AdvisorMyAccountPaymentHistroryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advisorpaymenthistory</servlet-name>
    <url-pattern>/advisorpaymenthistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>advisorquestions</servlet-name>
    <servlet-class>ac.controller.AdvisorMyAccountQuestionsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advisorquestions</servlet-name>
    <url-pattern>/advisorquestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>payment</servlet-name>
    <jsp-file>/ccavRequestHandler.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
</web-app>